
@{
    ViewBag.Title = "Weekly Weather";
}

<h2>Rain</h2>

@if (ViewBag.Results != null)
{
    foreach (var item in ViewBag.Results)
    {<h>These are the days you will need to water</h>
        <div>
            <h2>Day/Time @item.name</h2>
            <p>number event @item.number</p>
            <p>Details @item.detailedForecast</p>
            <br /> <br />
        </div>
        <p>------------------------------------------------------</p>
    }
}
@if (ViewBag.Waterdays != null)
{foreach (var item in ViewBag.Waterdays)
    {<h>Expect Water!</h>

        <div>
            <h2>Day/Time @item.name</h2>
            <p>Number in API @item.eventNumber</p>
            <p>Temperature area: @item.temperature</p>
            <p>Weather @item.weather</p>
            <p> Should I water the plants? @item.waterPlants</p>
            <br /> <br />
        </div>
        <p>*****************************************************</p>
    }
}
else
{
<h1>@ViewBag.NeedWater</h1>
}